<h2>Lista de usuarios</h2>
<% @users.each do |user|  %>
<h2> <%= link_to "#{user.first_name} #{user.last_name}" , user_path(user) %></h2>
<% end %>

<h2> Encuentra a un usuario en especifico </h2>


<%= form_tag(users_path, method: :get) do %>
  <%= text_field_tag :first_name, params[:first_name] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>

